.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;    
}

.Title{
  color:#767a82;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #4e5b79;
  font-size: 38px;
  padding: 15px;
  height: 100px;
  background-color:#171b23aa;
  filter:invert();
}  

.Title .tagline{
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
}

.userInfo{
  z-index: 100;
  position: fixed;
  top:0;
  right:0;
  color: white;
  font-size: 20px;
  height: max-content;
  width: 160px;
  background-color: #4b4949;
  border-bottom-left-radius: 8px;
  user-select: none;
}

.userInfo .ui.dropdown{
    width: 160px;
    padding: 10px 0;
    text-align: center;
}

.userInfo .ui.dropdown .text{
  padding: 0 10px;
}

.userInfo .ui.dropdown .menu{
  clear: both;
  border: 1px solid rgb(75, 65, 65);
  border-right: none;
  background-color: #4b4949;
  color: white;
}

.userInfo .ui.dropdown .menu .item{
  width: 160px;
  color: white;
  border-bottom: 1px solid rgb(46, 42, 42);
}

.userInfo .ui.dropdown .menu .item:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(59, 56, 56);
}

.title_container{
  font-family: 'Do Hyeon'  !important;
  color:#767a82;
  font-size: 34px;
  background-image: url(bg_tile.png);
  filter:invert();
  z-index:1;
}


#main_container{
  position: relative;
  /* height: calc(100vh - 150px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin: 0 5vw;
  padding-bottom: 80px;
}


/*  area where the data is populated  */

.dataTable{
  clear: both;
  margin-top: 0px;
  /* width: 90vw; */
  border: 1px solid rgb(151, 148, 148);
  word-break: keep-all;
  border-radius: 4px;
}

.datepickers{
  color: white;
  text-align: right;
}

.datepickers input[type='date']{
  border: 1px solid white;
  border-radius: 2px;
  padding: 2px;
  text-align: center;
  margin: 0 8px;
}

.dataTable .ui.table tr th{
  background-color: transparent;
  text-transform: capitalize;
}


.dataTable textarea{
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: #696969;
  color: whitesmoke;
  padding: 8px;
}

.dataTable textarea::placeholder{
  color: white;
}

/* menu box with accuracy,relevant etc */

.rerunSet button{
  background-color: rgb(87, 82, 82) !important;
  margin: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  color: white !important;
  border-left: 1px solid rgb(65, 64, 64) !important;
}

.ui.progress, .ui.progress .bar{
  margin: 0 !important;
  height: 5px !important;
  border-radius: 0px !important;
}

.controls{
  width: 90vw;
  margin: 10px 0;
}

.controls .ui.secondary.menu{
  width: fit-content;
  float: right;
  margin-right: 2px;
}

.controls .ui.secondary.menu .item,
.controls .ui.secondary.menu .item.dropdown:hover{
  border: none;
  border-radius: 0;
  margin: 0;
  background-color: rgb(78, 74, 74);
  color: white;
} 

.positive{
  background-color: #365436;
}

.negative{
  background-color: #c1383838;
}

.anchor_btn, .anchor_btn:hover{
  padding: 8px 10px;
  background-color: rgb(22,120,195);
  color: whitesmoke;
  border-radius: 5px;
  font-weight: bolder;
  text-decoration: none;
}


.MesssageData_row, .MesssageData_row div{
  margin: 10px;
}

.pagination{
  width: 100%;
  justify-content: center;
  margin: 8px 0 !important;
}

.pagination a{
  outline: none;
}

.pagination .active{
  font-size: 16px;
  border-color: rgb(255, 255, 255) !important;
  background-color: #424242 !important;
  color: red !important;
}


/* styleing for settings component */

.settingsTab{
  margin-top: 30px;
  color: rgb(54, 39, 39);
  width: 90vw;
  padding: 15px;
}

.settingsTab h4{
  text-align: start;
}

.settingsTab table{
  text-align: left;
  width: 100%;
}

.settingsTab table tr{
  height: max-content;
}

.settingsTab table th{
  width: 150px;
  text-transform: capitalize;

}


.settingsTab table td{
  text-align: center;
}


.settingsTab table .ui.dropdown,
.settingsTab table .ui.dropdown .search,
.settingsTab table .ui.dropdown:hover {
  background-color: transparent;
  border: 1px solid white;
  /* width: 80%; */
  color: wheat;
}


/* .settingsTab table .ui.dropdown .label, */
.settingsTab table .label{
  background-color: #767a82;
  color: white;
  width: max-content;
  padding: 10px;
  font-size: 14px;
}

.settingsTab table .ui.button{
  padding: 6px;
}

.settingsTab table .label .delete{
 display: none;
}

.settingsTab table .label:hover > .delete{
  display: inline-block;
 }



 .TabMenu .ui.menu,.TabMenu .ui.tab,.TabMenu .ui.segment{
   background-color: transparent !important;
   /* border: 1px solid rgba(138, 133, 133, 0.219) !important; */
   border : none !important;
 }


.msg{
  position: fixed;
  bottom: -10px;
  right: 15px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  opacity: 0;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(50, 99, 50);
  color: whitesmoke;
  animation: bounceIn 10s;
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    bottom: 15px;
  }
  100% {
    opacity: 0;
  }
}